<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="basketball"></div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <p> The worlds most <highlight>awesomest</highlight> basketball database</p>
  </body>
<p>
  <a href ="">Add Player</a> <a href="/players">Players</a>
</p>
</html>
