<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/createTable.js"></script>
</head>
<body>
<div id="basketball"></div>
<h1><%= title %></h1>
<p> View all Players of our Database or see your favourites</p>
</body>
<p>
<table align="center" border="1" width="20%" id="players">
    <tr>
        <td colspan="3" style="text-align: center;"><button id="all" onclick="changer('all');" class="button">All</button></td>
        <td colspan="3" style="text-align: center;"><button id ="favorites" onclick="changer('favorites');" class="button">Favoriten</button></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>Verein</td>
        <td>Coach</td>
        <td>Position</td>
        <td>Nummer</td>
        <td>Jahr</td>
    </tr>
</table>
<br>
<a href="/index.html">Zur&uuml;ck</a>
</p>
</html>
