<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/createTable.js"></script>
</head>
<body>
<div id="basketball"></div>
<h1><%= title %></h1>
<p> View all Players of our Database or see your favourites</p>

<p>
    <input id="searchChar"type="text" maxlength="1" minlength="1" pattern="[A-Za-z]{1}">
    <button id="searchCharButton" type="button" onclick="changer('search');">Search player by Lastname</button>
    </input>

    <button id="all" onclick="changer('all');" class="button">All</button>
    <button id ="favorites" onclick="changer('favorites');" class="button">Favoriten</button>
</p>

<p>

<table align="center" border="1" width="20%" id="players">
        <th>Delete</th>
        <th>Name</th>
        <th>Verein</th>
        <th>Coach</th>
        <th>Position</th>
        <th>Nummer</th>
        <th>Jahr</th>

</table>

</p>



<p>
<a href="/">Zur&uuml;ck</a>
</p>

</body>
</html>
