/*
 * index.css
 * 
 * This file is part of the Internet Explorers site.
 * Written by
 *   Johannes Heiler
 *   Lucas Kneis
 *   Tobias Juenemann
 * 
 * Last updated: 16. April 2016
 */





/* Header */



form input, select {
	border-radius: 5px; 
	
}

header {
	width: 100%;
	padding: 128px 0px;
	background-color: #EEEFF7;

	background-position: 0px 0px;

}

header > div {
	display: block;
	margin: 0px auto;
	padding: 64px;
	width: 100%;
	max-width: 640px;
	background-color: #445878;
	border-radius: 12px;
	text-align: center;
}



header h1 {
	display: block;
	color: #FCFFF5;
	margin: 0px;
	padding: 0px;
	font-family: 'Arial';
	font-size: 40px;
}

header p {
	margin: 32px 0px 0px 0px;
	font-family: 'Arial';
	font-size: 20px;
}

header a {
	color: #ffe3bf;
	font-weight: bold;
	text-decoration: none;
}

header a:hover,
header a:focus {
	color: #ffc77f;
}

/* Main */

#addplayer{
	display: block;
	margin: 200px auto;
	padding: 30px;
	width: 100%;
	max-width: 400px;
	background-color: #EEEFF7;
	border-radius: 60px;
	text-align: center;
}

main section {
	padding: 16px 0px;
	text-align: center;
}

main h2 {
	color: #445878;
	font-family: 'Arial';
}

main section:nth-of-type(1) {
	padding: 15% 0px;
}

input {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

select {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Arial';
	font-size: 16px;
	color: #445878;
	background-color: #445878;
}

/* Footer */

footer {
	width: 100%;
	padding: 64px 0px;
	background-color: #EEEFF7;
	background-position: 0px 0px;
	text-align: center;
	
}

footer a {
	display: block;
	width: 30%;
	margin: 0 auto;
}

footer a img {
	width: 100%;
}