/*
 * style.css
 * 
 * This file is part of the Internet Explorers site.
 * Written by
 *   Johannes Heiler
 *   Lucas Kneis
 *   Tobias Juenemann
 * 
 * Last updated: 16. April 2016
 */

a {
	color:#445878;
	text-decoration:Underline;
}

a:hover,
a:focus {
	color:#ffc77f;
	text-decoration:None;
}

body {
	text-align:center;
	font-family:Arial;
	background-color:#EEEFF7;
	color:#445878;
}

h1 {
	color:#445878;
}


