/*
 * style.css
 * 
 * This file is part of the Internet Explorers site.
 * Written by
 *   Johannes Heiler
 *   Lucas Kneis
 *   Tobias Juenemann
 * 
 * Last updated: 16. April 2016
 */

a {
	color:#ffe3bf;
	text-decoration:Underline;
}

a:hover,
a:focus {
	color:#ffc77f;
	text-decoration:None;
}

body {
	font-family:Arial;
	background-color:#5d7cba;
	color:#ffe3bf;
}

h1 {
	color:#ffc77f;
}


